#xu{
	height: 600px;
	width: 15%;
	margin:50px 50px;
}
p{
	font-size: 20px;
	margin-left: 11%;
	text-decoration:none;
}
h1{
	font-size: 55px;
	
}
body{
	background-image:url(../img/loginBackground.jpg);
	background-size:cover;
	background-image: rgba(0,0,0,0.1);
}
#zhi{
	height:650px;
	width: 76%;
	float: right;
	margin-top:-650px;
}
iframe{
	width: 49.6%;
	height: 100%;
	display:inline-block;
}
a{
	text-decoration: none;
	color: black;
}
#a{
	float: right;
}