*{
	padding: 0px;
	margin: 0px;
}
/*
 *鐓х墖鍖哄煙
 */
@-moz-keyframes name{
	0%,30% {        
    margin-left: 0px;       
	}
	45%,70% {       
	    margin-left: -480px;    
	}
	75%,100% {       
	    margin-left: -960px;    
	}
}
#all_picture{
	width: 480px;
	height: 800px;
	overflow: hidden;
	position: relative;
}
.play{
	animation: name 6s ease infinite alternate;
}
#picture_area{
	width: calc(480px * 3); 
	float: left;
	height: 800px;
	position: absolute;
}
#picture_area img{
	width: 480px;
	height: 800px;
	float: left;
}
/*
 * 鐧诲綍鍖�
 */
#all_Deconnexion_area{
	width: 1040px;
	height: 706px;
	float: left;
	position: absolute;
	bottom: 39px;
	left: 480px;
	display:block;
	/*margin-left:0px ;
	background:url(../img/denglu3.jpg),url(../img/denglu2.jpg);
	background-position: left,right;
	background-repeat: no-repeat, no-repeat;*/
}
#Deconnexion{
	float: right;
	margin-top:150px ;
	margin-right:350px ;
	border: 1px black solid;
}
h3{
	text-indent: 17px;
}
#Deconnexion_area ul li{
	
	list-style: none;
	float: left;
	margin:20px;
}
#Deconnexion_area ul li:first-child{
	margin-left: 10px;
}

#Deconnexion_area ul li a{
	text-decoration: none;
	color: black;
	font-size:10px ;
}
#Deconnexion_area ul:after{
	content: '';
	display: block;
	clear: both;
}
#Deconnexion_area ul{
	width: 240px;
	margin: 0px auto;
}
#title_area{
	text-align: center;
}
iframe{
	border-style: none;
	height: 310px;
}
.lastText{
	padding:10px 5px;
	margin: 0px auto;
	width: 200px;
	text-align: center;
	margin-bottom:20px ;
	background-color: #1AFA88;
	border-radius: 8px;
}
hr:after{
	content: '';
	display: block;
	clear: both;
}
#deng{
	float: right;
	margin-top: -35%;
	display:none;
	width:800px;
}
.text{
	
		width: 70%;
		height: 65px;
		margin-top: 60px;
		font-size: 30px;
}
span {
	 	font-size: 30px;
	
}
.button{
	font-size:30px;
	margin-top:60px;
    margin-left: 80px;
}
#login{
	  margin-left: 410px;
}

